<div id="xrai-chatbot-root">
  <div class="chatbox">

    <div class="chatbox__support">
      <div class="chatbox__header">
        <div class="chatbox__image--header">
          <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png">
        </div>
        <div class="chatbox__content--header">
          <h4>XRAi chat assistant</h4>
          <p>Hi. My name is Rasa. How can I help you?</p>
        </div>
      </div>

      <div class="chatbox__messages">
        <div class="messages__item messages__item--visitor">
          I'm Rasa. How may I help you?
        </div>
      </div>

      <div class="chatbox__footer">
        <input id="chat-input" type="text" placeholder="Write a message...">
        <button class="send__button">Send</button>
      </div>
    </div>

    <!-- BUTTON -->
    <div class="chatbox__button">
      <button id="xrai-chat-toggle">
        <img src="/static/images/chatbox-icon.svg">
      </button>
    </div>

  </div>
</div>